NodeRED/flows.json
[
    {
        "id": "e5996049f70a6628",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0fb5c275d9405db4",
        "type": "mqtt in",
        "z": "e5996049f70a6628",
        "name": "ChirpstackBroker",
        "topic": "application/1a3fddf5-f12c-4bbb-85ee-c940d8f4d68a/device/0004a30b0110c3e3/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bf403476e7f282b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "9b1a1ec5d0ed251d"
            ]
        ]
    },
    {
        "id": "0542ae6906ec8a13",
        "type": "ui_text",
        "z": "e5996049f70a6628",
        "group": "3bf3bd6ae9c419e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Dernière valeur :",
        "format": "{{msg.payload.data}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "549767dcfa0377ec",
        "type": "ui_chart",
        "z": "e5996049f70a6628",
        "name": "",
        "group": "3bf3bd6ae9c419e7",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Valeur mesurée par le capteur de gaz",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "23d0c07487a0679f",
        "type": "ui_gauge",
        "z": "e5996049f70a6628",
        "name": "",
        "group": "3bf3bd6ae9c419e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{msg.payload.data}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "9b1a1ec5d0ed251d",
        "type": "base64",
        "z": "e5996049f70a6628",
        "name": "",
        "action": "b64",
        "property": "payload.data",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "23d0c07487a0679f",
                "549767dcfa0377ec",
                "0542ae6906ec8a13"
            ]
        ]
    },
    {
        "id": "bf403476e7f282b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "srv-chirpstack.insa-toulouse.fr",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3bf3bd6ae9c419e7",
        "type": "ui_group",
        "name": "DashboardGroup",
        "tab": "e5e45acf2c2b48aa",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5e45acf2c2b48aa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f4860b426f105f3",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-base64": "1.0.0"
        }
    }
]
